.row {
  margin-top: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 25px;  
  font-weight: 600;
}

.table-wrapper {
  width: 100%;
  table-layout: fixed;   
  border-collapse: collapse;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.table {
  width: 85%;
  margin: 40px auto;          
  background: #ffffff;
  border-radius: 16px;        
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
  border-collapse: collapse;
  overflow: hidden;           
}
.table tbody tr td {
  border-bottom: 1px solid #111;
}
.table th,
.table td {
  text-align: center;
  vertical-align: middle;
  padding: 12px;
  word-wrap: break-word;
  width: 20%;   
  border-collapse: collapse;
}


.table thead {
 background: linear-gradient(135deg, #3498db, #2c3e50);
}

.table th {
  font-weight: 600;
  border-bottom: 1px solid #dee2e6;
}

.table thead th:first-child {
  border-top-left-radius: 16px;
}

.table thead th:last-child {
  border-top-right-radius: 16px;
}


.table tbody tr {
  border-bottom: 1px solid #dee2e6;
  transition: all 0.2s ease;
}

.table tbody tr:hover {
  background-color: #d9eaff;
  transition: 0.2s ease-in-out;
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;   
}
.view-button {
  background-color: #0d6efd;
  color: white;
}

.view-button:hover {
  background-color: #0b5ed7;
}

.delete-btn {
  background-color: red; 
  color: white;
}

.view-button,
.delete-btn {
  width: 90px;
  height: 34px;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  margin: 0 5px;
  border: none;
  color: white;
}

.delete-btn:hover {
  background-color: darkred;
  color: white;
}
@media (max-width: 768px) {

  .table th,
  .table td {
    padding: 10px;
    font-size: 14px;
  }

  .view-button,
  .delete-btn {
    width: 75px;
    height: 30px;
    font-size: 13px;
  }

}
@media (max-width: 480px) {
  .action-buttons {
    flex-direction: column;
    gap: 6px;
  }
}
