.row {
  margin-top: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
}


.table {
  width: 100%;
  table-layout: fixed;   
  border-collapse: collapse;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
  padding: 12px;
  word-wrap: break-word;
  width: 20%;   
}


.table thead {
  background-color: #f8f9fa;
}

.table th {
  font-weight: 600;
  border-bottom: 2px solid #dee2e6;
}


.table tbody tr:hover {
  background-color: #f1f1f1;
  transition: 0.2s ease-in-out;
}
.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;   
}
.view-button {
  background-color: #0d6efd;
  color: white;
}

.view-button:hover {
  background-color: #0b5ed7;
}

.delete-btn {
  background-color: red; 
  color: white;
}

.view-button,
.delete-btn {
  width: 90px;
  height: 34px;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  margin: 0 5px;
  border: none;
  color: white;
}

.delete-btn:hover {
  background-color: darkred;
  color: white;
}
